<!-- Additions to <head> tags go here. -->


<!-- Authorization endpoint -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">

<!-- Token endpoint -->
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<!-- Micropub endpoint -->
 <link rel="micropub" href="https://leibniz.me/_posts">

<!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://leibniz.me/atom.xml">

<!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144-precomposed.png"><link rel="shortcut icon" href="/images/favicon.ico">

<!-- instagram relme -->
 <a href="https://instagram.com/leibniz" rel="me"></a>

<!-- fontawesome -->
 <script src="https://use.fontawesome.com/23c3029a11.js"></script>

