<a href="http://leibniz.me"><img src="http://leibniz.me/images/asterisk-r.png"></a>
<h2>
  leibniz*
</h2>

<p>
il blog che non conserva<br /> le forme sostanziali
</p>
--<br>
Piero Macchioni



<p><span class="fa fa-twitter">&nbsp;&nbsp;</span><a href="https://twitter.com/leibniz" target="_blank">@leibniz</a>&nbsp;&nbsp;<span class="fa fa-rss">&nbsp;&nbsp;</span><a href="http://leibniz.me/feed/index.xml" target="_blank"> rss&nbsp;&nbsp</a><span class="fa fa-facebook">&nbsp;&nbsp;</span><a href="https://www.facebook.com/pierom" target="_blank"> fb</a></p>


