---
layout: default
---
<article class="h-entry">
<div class="post-header">
  <h1 class="p-name">{{ page.title }}</h1>
  {% include post-header.html %}
</div>
<div class="post-content e-content">
  {{ content }}
</div>
<div class="webmention" rel="webmention">
  {% include webmention.html %}
</div>
<div class="post-footer">
  {% include post-footer.html %} <p class="meta"><time class="dt-published" datetime="{{ site.time | date_to_xmlschema }}"></time></p>
</div>
{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <div class="post-navs row">
      {% if page.previous %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            indietro
            <span class="text-muted"> &middot; </span>
            <a href="{{ "/archive" | prepend:site.baseurl }}">archivio ({{ site.posts.size }})</a>
          </h3>
          <h2 class="post-title-link"><a href="{{ page.previous.url | prepend:site.baseurl }}">{{ page.previous.title }}</a></h2>
          {{ page.previous.excerpt }}
        </div>
      {% endif %}
      {% if page.next %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            avanti
            {% unless page.previous %}
              <span class="text-muted"> &middot; </span>
              <a href="{{ "/archive" | prepend:site.baseurl }}">archivio ({{ site.posts.size }})</a>
            {% endunless %}
          </h3>
          <h2 class="post-title-link"><a href="{{ page.next.url | prepend:site.baseurl }}">{{ page.next.title }}</a></h2>
          {{ page.next.excerpt }}
        </div>
      {% endif %}
    </div>
    </article>
  {% endif %}
{% endif %}
{% include  share.html %}